html, body {
	font-family: "Open Sans";
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	color: $text-color;
}

.post-meta {
	margin-bottom: 0;
}

.site-header {
	border-bottom: none;
}

.site-footer {
	border-top: none;

	text-align: center;

}

a {
	
	display: inline;
	color: $brand-color;

	&:hover {
		color: darken($brand-color, 15%);
		text-decoration: none;
	}
}

header {
	.wrapper {

		.page-link {
			margin: 0 $spacing-unit / 2 0;
		}

		margin-bottom: $spacing-unit;
		padding: $spacing-unit;
	}
}

div.search {

	width: 100%;
	text-align: center;
	box-sizing: border-box;

	input {

		display: inline;
		padding: 8px 12px;
		border-radius: 2px 0 0 2px;
		outline: none;
		width: 421px;
		border: solid lighten($grey-color, 15%) 1px;
		font-size: 12pt;

		&:focus{
			border-color: $brand-color;
		}
	}

	button {

		padding: 8px 26px 8px 26px;
		outline: none;
		border: solid lighten($grey-color, 15%) 1px;
		font-size: 12pt;
		border-radius: 0 2px 2px 0;
		background-color: $grey-color-light;
		color: $grey-color-dark;
		border-left: none;

		&:hover {
			color: darken($grey-color-dark, 4%);
			background-color: lighten($grey-color-light, 4%);
		}

		&:active {
			color: $brand-color;
			background-color: lighten($grey-color-light, 2%);
		}

	}

	ul.featured {
		list-style: none;
		margin: 0;
		
		li {
			margin: 0;
		}

	}

}

.margin-top {
	margin-top: 20px;
}

.footer-col-wrapper {
	a {
		text-decoration: none;
	}
}


@include media-query($on-palm){

	.site-header {
		.wrapper {
			.site-nav {
				float: none;
				text-align: center;


			}

			.brand {
				text-align: center;
			}

			.site-title {
				float: none;
				display: inline;
			}
		}
	}

	div.search {

		input {
			width: 100%;
			box-sizing: border-box;
		}

		button {
			border: solid lighten($grey-color, 15%) 1px;
			margin-top: 20px;
			width: 50%;
		}
	}
}

$ball-size: 4px;
$picture-size: 34px;


.logo {
	width: 34px;
	height: 34px;
	border-radius: 16px;
	transition: border-radius 0.25s;
}

.logo:hover {
	border-radius: 8px;
	transition: border-radius 0.25s;
}
