html, body {
	font-family: 'Open Sans', sans-serif !important;
}

h1, h2, h3 {
	margin: 0;
	font-family: 'Roboto', sans-serif !important;
	color: $text-color;
}

.post-meta {
	margin-bottom: 0;
}

.site-header {
	border-bottom: none;
}

.site-footer {
	border-top: none;
	text-align: center;
	margin-top: 84px;
}

.post-content {

	blockquote {
		margin: 32px 12px;
	}

	h2 {
		margin-top: 42px;
	}

	h3 {
		margin-top: 21px;
	}
}

ul.post-list {
	li {
		p {
			margin-top: 2px;
		}
	}
}

h2 a.post-link { text-decoration: none }

a {
	
	display: inline;
	color: $brand-color;



	&:hover {
		color: darken($brand-color, 15%);
		text-decoration: none;
	}
}

.home {

	.home-title {
		margin: 36px 0px;
	}

	ul {
		padding-bottom: 34px;
	}

}

header {
	.wrapper {

		.page-link {
			margin: 0 $spacing-unit / 2 0;
		}

		margin-bottom: $spacing-unit;
		padding: $spacing-unit;
	}
}

div.search {

	width: 100%;
	text-align: center;
	box-sizing: border-box;

	input {

		display: inline;
		padding: 8px 12px;
		border-radius: 2px 0 0 2px;
		outline: none;
		width: 421px;
		border: solid lighten($grey-color, 15%) 1px;
		font-size: 12pt;

		&:focus{
			border-color: $brand-color;
		}
	}

	button {

		padding: 8px 26px 8px 26px;
		outline: none;
		border: solid lighten($grey-color, 15%) 1px;
		font-size: 12pt;
		border-radius: 0 2px 2px 0;
		background-color: $grey-color-light;
		color: $grey-color-dark;
		border-left: none;

		&:hover {
			color: darken($grey-color-dark, 4%);
			background-color: lighten($grey-color-light, 4%);
		}

		&:active {
			color: $brand-color;
			background-color: lighten($grey-color-light, 2%);
		}

	}

	ul.featured {
		list-style: none;
		margin: 0;
		
		li {
			margin: 0;
		}

	}

}

main.page-content .wrapper {
	box-sizing: border-box;
}


.margin-top {
	margin-top: 20px;
}

.footer-col-wrapper {
	a {
		text-decoration: none;
	}
}


@include media-query($on-palm){

	.site-header {
		.wrapper {
			.site-nav {
				float: none;
				text-align: center;


			}

			.brand {
				text-align: center;
			}

			.site-title {
				float: none;
			}
		}
	}

	div.search {

		input {
			width: 100%;
			box-sizing: border-box;
		}

		button {
			border: solid lighten($grey-color, 15%) 1px;
			margin-top: 20px;
			width: 50%;
		}
	}
}

$ball-size: 4px;
$picture-size: 34px;

p {
	margin: 1.6em 0px;
}

.avatar {
	width: 34px;
	height: 34px;
	border-radius: 16px;
	transition: border-radius 0.25s;
}

.avatar:hover {
	border-radius: 8px;
	transition: border-radius 0.25s;
}

h2 {
	line-height: 1.1;
	margin-bottom: 12px;
}

article.post {

	h2, h3, h4 {

		position: relative;

		&::before {
			opacity: 0.6;
			position: absolute;
			width: 100px;
			left: -116px;
			text-align: right;
		}

	}

	a.edit-post {
		color: inherit;
	}
	
	h2::before {
		content: '## ';		
	}

	h3::before {
		content: '### ';
	}
	
	h4::before {
		content: '#### ';
	}

}

.highlight code {
	font-family: 'Roboto Mono', monospace;
}

interactive-console {
	margin-bottom: 15px;
}

.pagination {

	display: flex;
	justify-content: center;
	align-items: center;

	span.disabled {
		opacity: 0.2;

		&:hover {
			opacity: 0.2;
		}

	}

	&.post {
		align-items: flex-start;
		margin-top: 48px;

		.next, .previous {
			flex: 1 1 0;
			padding: 0;
			flex-wrap: nowrap;
			display: flex;

			.title {
				flex-shrink: 1;
				padding: 0;
			}
		}

		span.previous {
			margin-right: 20px;
		}

		.next {
			justify-content: flex-end;
			text-align: right;
		}
		.previous {
			justify-content: flex-start;
			text-align: left;
		}
	}

	.next, .previous {
		transition: opacity 0.3s;
		opacity: 0.8;
		flex-grow: 1;

		&:hover {
			opacity: 1;
		}

	}

	.previous {
		justify-content: flex-end;
	}

	span {
		padding: 12px 20px;
		display: flex;
	}


	svg {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
	}

}

.tag-preview {
	margin-top: 8px;
	display: flex;
	flex-wrap: wrap;

	span {
		padding: 2px 6px;
		margin: 2px 6px;

		&:hover {
			font-weight: bold;
			cursor: pointer;
		}
	}

}

.tag-list {
	margin: 0;
	margin-top: 42px;
	list-style: none;

	li {
		margin-bottom: 12px;

		.post-list {
			padding-bottom: 24px;
		}

	}

}
