{{ $file := replaceRE "^./" "" .Destination  }}
{{ $image := .Page.Resources.GetMatch (printf "%s" ($file | safeURL)) }}

{{ $resized := "" }}
{{ if strings.HasSuffix $image.RelPermalink ".gif" }}
  {{ $resized = $image }}
{{ else }}
  {{ $resized = $image.Resize "694x" }}
{{ end }}

{{ $alt := .PlainText | safeHTML }}
{{ $caption := "" }}
{{ with .Title }}
  {{ $caption = . | safeHTML }}
{{ end }}



{{ $image_object := (dict "RelPermalink" $resized.RelPermalink "Width" $resized.Width "Height" $resized.Height "Alt" $alt "Caption" $caption) }}

{{ if hasPrefix .Page.RelPermalink "/amp/" }}
{{ partial "image.amp" $image_object }}
{{ else }}
{{ partial "image" $image_object }}
{{ end }}
