html,
body {
	width: 100%;
	overflow-x: hidden;
	font-family: 'Open Sans', sans-serif;
}

p {
	margin: 1.6em 0px;
}

/**
 * Site header
 */
.site-header {
	border-top: 5px solid $text-color;
	min-height: $spacing-unit * 1.865;

	.wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		box-sizing: border-box;
		margin-bottom: $spacing-unit;
		padding: $spacing-unit;

		.logo {
			border-radius: 50%;
			overflow: hidden;
		}

		nav {

			float: right;
			line-height: $base-line-height * $base-font-size * 2.25;
			font-size: 12px;
			text-transform: uppercase;

			a {
				color: $top-link-text-color;
				text-decoration: none;
				line-height: $base-line-height;
				margin: 0 $spacing-unit / 2 0;

				&:hover {
					color: $text-color;
				}
			}

		}

	}
}

/**
 * Site footer
 */
.site-footer {
	border-top: 1px solid $grey-color-light;
	padding: $spacing-unit 0;

	.wrapper {
		box-sizing: border-box;
		color: $grey-color;
	}

}



/**
 * Page content
 */
.page-content {
	padding: $spacing-unit 0;
}

.page-heading {
	@include relative-font-size(1.25);
}

ul.post-list {
	margin-left: 0;
	list-style: none;

	>li {
		margin-bottom: $spacing-unit;

		p {
			margin-top: 2px;
		}

	}
}

.post-meta {
	font-size: $small-font-size;
	color: $grey-color;
}

.post-link {
	display: block;
	@include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
	margin-bottom: $spacing-unit;
}

.post-title {
	@include relative-font-size(4.625);
	letter-spacing: -1px;
	line-height: 1;

	@include media-query($on-laptop) {
		@include relative-font-size(2.25);
	}
}

.post-content {
	margin-bottom: $spacing-unit;

	h2 {
		margin-top: 42px;
	}

	h3 {
		margin-top: 21px;
	}

	blockquote {
		margin: 32px 12px;
	}

	p {
		img {
			display: block;
			margin: 24px auto;
		}

		line-height: 1.8;
		margin: 1.6em 0px;

	}

	div.highlight {

		position: relative;
		margin: 32px 0px;

		&::after {
			display: none;
			position: absolute;
			content: '';
			background: inherit;
			z-index: -1;
			top: 0;
			width: 110vw;
			margin: 0px -55vw;
			left: 50%;
			bottom: 0;
		}

		padding: 32px 22px;
		border-radius: 2px;

		pre.highlight {
			margin: 0;
		}

	}

	h2 {
		@include relative-font-size(2);

		@include media-query($on-laptop) {
			@include relative-font-size(1.75);
		}
	}

	h3 {
		@include relative-font-size(1.625);

		@include media-query($on-laptop) {
			@include relative-font-size(1.375);
		}
	}

	h4 {
		@include relative-font-size(1.25);

		@include media-query($on-laptop) {
			@include relative-font-size(1.125);
		}
	}
}

.go-up {

	display: flex;
	justify-content: center;

	button {
		cursor: pointer;
		background: none;
		outline: none;
		border: none;
		font-size: 56px;
	}
}


h1,
h2,
h3 {
	margin: 0;
	font-family: 'Roboto', sans-serif !important;
	color: $text-color;
}

.post-meta {
	margin-bottom: 0;
}

.site-header {
	border-bottom: none;
}

.site-footer {
	border-top: none;
	text-align: center;
	margin-top: 84px;
}

h1.default-title a,
h2 a.post-link {
	text-decoration: none;
	color: #3c3836;
}

a {
	display: inline;
	color: $brand-color;

	&:hover {
		color: darken($brand-color, 15%);
		text-decoration: none;
	}
}

/**
* Default Page
*/
.default {

	.default-title {
		margin: 36px 0px;
	}

	ul {
		padding-bottom: 34px;
	}

}

main.page-content .wrapper {
	box-sizing: border-box;
}


h2 {
	line-height: 1.1;
	margin-bottom: 12px;
}


/**
* Post Content
*/
article.post {

	h2,
	h3,
	h4 {

		position: relative;

		&::before {
			opacity: 0.15;
			position: absolute;
			width: 100px;
			left: -116px;
			text-align: right;
		}

	}

	a.edit-post {
		color: inherit;
	}

	// h2::before {
	// 	content: '## ';
	// }

	// h3::before {
	// 	content: '### ';
	// }

	// h4::before {
	// 	content: '#### ';
	// }

}

.highlighter-rouge .highlight {
	width: initial !important;
	max-width: 100%;
}

pre.highlight {

	&::-webkit-scrollbar {
		height: 6px;
		width: 6px;
		border-radius: 3px;
		background: #383838;
	}

	&::-webkit-scrollbar-thumb {
		background: #484848;
	}

	&::-webkit-scrollbar-thumb:hover {
		background: #585858;
	}

	code {
		font-family: 'Roboto Mono', monospace;
	}
}

/**
*
*/
.pagination {

	display: flex;
	justify-content: center;
	align-items: center;

	span.disabled {
		opacity: 0.2;

		&:hover {
			opacity: 0.2;
		}

	}

	&.post {
		align-items: flex-start;
		margin-top: 48px;

		.next,
		.previous {
			flex: 1 1 0;
			padding: 0;
			flex-wrap: nowrap;
			display: flex;

			.title {
				flex-shrink: 1;
				padding: 0;
			}
		}

		span.previous {
			margin-right: 20px;
		}

		.next {
			justify-content: flex-end;
			text-align: right;
		}

		.previous {
			justify-content: flex-start;
			text-align: left;
		}
	}

	.next,
	.previous {
		transition: opacity 0.3s;
		opacity: 0.8;
		flex-grow: 1;

		&:hover {
			opacity: 1;
		}

	}

	.previous {
		justify-content: flex-end;
	}

	span {
		padding: 12px 20px;
		display: flex;
	}


	svg {
		flex-shrink: 0;
		width: 24px;
		height: 24px;
	}

}

/**
* Tags Page
*/
div.tags {
	.tag-preview {
		margin-top: 8px;
		display: flex;
		flex-wrap: wrap;

		span {
			padding: 2px 6px;
			margin: 2px 6px;

			&:hover {
				font-weight: bold;
				cursor: pointer;
			}
		}

	}

	.tag-list {
		margin: 0;
		margin-top: 42px;
		list-style: none;

		li {
			margin-bottom: 12px;

			.post-list {
				padding-bottom: 24px;
			}

		}

	}

}

/**
* Mobile Styles
*/
@include media-query($on-palm) {
	.site-header .wrapper {
		flex-direction: column;
	}
}
