{{ define "head" }}

  {{ partial "data-article" . }}

  {{ range .AlternativeOutputFormats -}}
    <link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
  {{ end -}}
{{ end }}

{{ define "main" }}

<div class="post-title">
  <h1>{{ .Title }}</h1>
  <small>
      {{ .Date.Format "January 02, 2006" }}
      {{ if .Params.tags }}
        - 
        <span class="tags">
          {{ range .Params.tags }}
            <a href="/tags/{{ . | urlize }}">{{ . }}</a>
          {{ end }}
        </span>
      {{ end }}
    </small>
  </small>
</div>
{{ .Content }}

{{ partial "share.html" . }}

{{ if .Site.Params.footer_about }}
  <div class="footer-about">
    {{ .Site.Params.footer_about | markdownify }}
  </div>
{{ end }}

<div class="related-container">
  {{ if .PrevInSection }}
    <div class="link">
      Previous <br />
      <a href="{{ .PrevInSection.Permalink }}">{{ .PrevInSection.Title }}</a>
    </div>
  {{ end }}

  {{ if .NextInSection }}
    <div class="link">
      Next <br />
      <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }}</a>
    </div>
  {{ end }}
</div>
{{ end }}
