{{ define "head" }}
  {{ if .Parent.Params.noindex }}
    <meta name="robots" content="noindex">
  {{ end }}

  {{ partial "data-article" . }}
{{ end }}


{{ define "title" }}
  <title>Wiki - {{ if ne .Parent.Title "Wiki" }}{{ .Parent.Title }} - {{ end }}{{ .Title }}</title>
{{ end }}

{{ define "main" }}
  {{ partial "search" . }}

  {{ if ne .Title "Wiki" }}
  {{ if ne .Parent.Title "Wiki" }}
    {{ with .Site.GetPage "/wiki" }}
    <a href="{{ .Permalink }}">{{ .Title }}</a> »
    {{ end }}
  {{ end }}
    <a href="{{ .Parent.Permalink }}">{{ .Parent.Title }}</a>
  {{ end }}
  <h1>{{ .Title }}</h1>

  {{ if .Params.dev }}
    <blockquote>
      <p>Note: this section is still under development, who knows if it’ll exist in the future</p>
    </blockquote>
  {{ end }}

  {{ .Content }}

  {{ partial "share.html" . }}

  {{ partial "backlinks.html" . }}
  

{{ end }}
