<!DOCTYPE html>

{{ if hasPrefix .RelPermalink "/amp/" }}
<html ⚡>
{{ else }}
<html lang="{{ .Site.LanguageCode }}">
{{ end }}
  {{ partial "head.html" . }}

  {{ block "title" . }}
    <title>{{ .Title }}</title>
  {{ end }}

  {{ block "stylesheet" . }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") }}

  {{ if .Site.Params.gtag }}
    {{ if hasPrefix .RelPermalink "/amp/" }}
      <script async custom-element="amp-analytics" src="https://cdn.ampproject.org/v0/amp-analytics-0.1.js"></script>
    {{ else }}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.gtag }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ .Site.Params.gtag }}');
      </script>
    {{ end }}
  {{ end }}

  {{ if hasPrefix .RelPermalink "/amp/" }}
    <style amp-custom>
        :root {
          --accent-color: {{ .Site.Params.accent }};
          --accent-color-light: {{ .Site.Params.accent_light }};
        }
        {{ $style.Content | safeCSS }}
    </style>
  {{ else }}
      <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ end }}
  {{ end }}

  {{ block "head" . }}
  {{ end }}


  <body>
    {{ if and .Site.Params.gtag (hasPrefix .RelPermalink "/amp/") }}
      <amp-analytics type="gtag" data-credentials="include">
        <script type="application/json">
          {
            "vars": {
              "gtag_id": "{{ .Site.Params.gtag }}",
              "config": {
                "{{ .Site.Params.gtag }}": { "groups": "default" }
              }
            }
          }
        </script>
      </amp-analytics>
    {{ end }}

    {{ block "header" . }}
    <header>
      <a class="profile-icon" href="/">
        {{ $profile := resources.Get .Site.Params.profile }}
        {{ $icon := $profile.Fit "50x50" }}

        {{ if hasPrefix .RelPermalink "/amp/" }}
            <amp-img layout="responsive" src="{{ $icon.Permalink }}" width="50" height="50" alt="Bennett Hardwick" />
        {{ else }}
            <img src="{{ $icon.Permalink }}" width="50" height="50" alt="Bennett Hardwick" />
        {{ end }}
      </a>
      <nav>
      <ul>
       {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
      </nav>
    </header>
    {{ end }}
    <main>
      {{ block "main" . }}
      {{ end }}

      {{ block "footer" . }}
        {{ if .File }}
          <br>
          <footer>
            <small>
              <a href="{{ path.Join .Site.Params.repo_edit_url .File.Path }}" target="_blank" rel="noreferrer">Edit on Github</a>
            </small>
          </footer>
        {{ end }}
      {{ end }}

    </main>

    {{ if hasPrefix .RelPermalink "/amp/" }}
    {{ else }}
      {{ $prerender := resources.Get "js/prerender-links.js" }}
      {{ $script:= $prerender | resources.Minify }}
      <script src="{{ $script.Permalink }}"></script>
    {{ end }}
  </body>
</html>
