<!DOCTYPE html>

{{ if hasPrefix .RelPermalink "/amp/" }}
<html ⚡>
{{ else }}
<html>
{{ end }}
  {{ partial "head.html" . }}


  {{ block "title" . }}
    <title>{{ .Title }}</title>
  {{ end }}

  {{ block "stylesheet" . }}
  {{ $style := resources.Get "sass/main.scss" | resources.ToCSS (dict "outputStyle" "compressed") }}

  {{ if hasPrefix .RelPermalink "/amp/" }}
    <style amp-custom>
        :root {
          --accent-color: {{ .Site.Params.accent }};
          --accent-color-light: {{ .Site.Params.accent_light }};
        }
        {{ $style.Content | safeCSS }}
    </style>
  {{ else }}
      <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ end }}
  {{ end }}

  {{ block "head" . }}
  {{ end }}

  <body>
    {{ block "header" . }}
    <header>
      <a class="profile-icon" href="/">
        {{ $profile := resources.Get .Site.Params.profile }}
        {{ $icon := $profile.Fit "50x50" }}

        {{ if hasPrefix .RelPermalink "/amp/" }}
            <amp-img layout="responsive" src="{{ $icon.Permalink }}" width="50" height="50" alt="Bennett Hardwick" />
        {{ else }}
            <img src="{{ $icon.Permalink }}" width="50" height="50" alt="Bennett Hardwick" />
        {{ end }}
      </a>
      <nav>
      <ul>
       {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
      </nav>
    </header>
    {{ end }}
    <main>{{ block "main" . }}{{ end }}</main>
    {{ partial "footer.html" . }}

    {{ if strings.HasSuffix "/amp/" .Permalink }}

    {{ $prerender := resources.Get "js/prerender-links.js" }}
    {{ $script:= $prerender | resources.Minify }}
    <script src="{{ $script.Permalink }}"></script>

    {{ end }}
  </body>
</html>
