{{ $path :=  printf "a class=\"ref\" href=\"%s\"" .RelPermalink }}


{{ $noResults := true }}
{{ $first := true }}

{{ range sort (where .Site.Pages "Section" "wiki") "Lastmod" "desc" }}
  {{ if findRE $path .Content }} 
    {{ if $first }}
      {{ $first = false }}

      <h2>Linked references:</h2>
        <ul>
    {{ end }}

    {{ $noResults = false }}

    <li>
      {{ if .Date }}
        {{ .Date.Format "January 02, 2006" }} -
      {{ end }}
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
  {{ end }}
{{ end }}

{{ if not $noResults }}
</ul>
{{ end }}
