<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "BreadcrumbList",
    "itemListElement": [
    {{ $path := replaceRE "^/" "" .RelPermalink }}
    {{ $path = replaceRE "/$" "" $path }}
    {{ $parts := split $path "/" }}
    {{ $acc := "" }}
    {{ range $index, $element := $parts }}
      {{ $acc = printf "%s/%s" $acc $element }}
      {{ with $.Site.GetPage $acc }}
        {{ if gt $index 0 }},{{ end }}{
          "@type": "ListItem",
          "position": {{ add $index 1 }},
          "name": "{{ .Title }}",
          "item": "{{ .Permalink }}"
        }
      {{ end }}
    {{ end }}
    ]
  }
</script>
