<div id="search">
  <input placeholder="Search the wiki..." />
</div>

{{ $commit := "none" }}

{{ if .GitInfo }}
{{ $commit = (string .GitInfo.Hash) }}
{{ end }}

{{ $defines := dict "COMMIT" (printf `"%s"` $commit) "process.env.NODE_ENV" `"production"` }}
{{ $opts := dict "targetPath" "search.js" "defines" $defines "minify" true "bundle" true }}
{{ $built := resources.Get "js/search.jsx" | js.Build $opts | resources.Fingerprint "md5" }}

<script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
