{{ define "stylesheet" }}
  {{ $style := resources.Get "sass/index.scss" | resources.ToCSS (dict "outputStyle" "compressed") | resources.Minify | resources.Fingerprint "md5" }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
{{ end }}

{{ define "header" }}
<!-- -->
{{ end }}

{{ define "footer" }}
<!-- -->
{{ end }}

{{ define "main" }}
<main>
  <div class="profile">
    <div class="profile-container">
      {{ $profile := resources.Get .Site.Params.profile_large }}
      {{ $image := $profile.Fit "280x373" }}
      {{ if hasPrefix .Page.RelPermalink "/amp/" }}
        <amp-img layout="responsive" src="{{ $image.Permalink }}" width="280" height="373" alt="Bennett Hardwick">
      {{ else }}
        <img src="{{ $image.Permalink }}" width="280" height="373" alt="Bennett Hardwick">
      {{ end }}
    </div>
  </div>
  <div class="content">
    {{ .Content }}

    <div class="latest-container">
    {{ range first 1 (where .Site.RegularPages "Section" "blog") }}
      Check out my latest post: "<a href="{{ .Permalink }}">{{ .Title }}</a>"
    {{ end }}
    </div>

    <nav class="lower" aria-label="Main Navigation">
      <ul>
       {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
        </li>
      {{ end }}
      </ul>
    </nav>

  </div>
</main>
{{ end }}
