---
layout: default
---
<article class="post" itemscope itemtype="https://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    
  </header>

  <div class="post-content" itemprop="articleBody">
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
				- 
				<a class="edit-post" href="https://github.com/bennetthardwick/bennetthardwick.github.io/blob/master/{{page.path}}">Edit</a>

				{% if page.side-by-side%}
				-
				<a class="edit-post" id="change-mode" href="#">Change Mode</a>
				{% endif %}
		</p>
		<div sbs-post-content>
		{{ content }}
		</div>
	</div>
	
	<div class="go-up">
		<button onclick="document.querySelector('header').scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' })">
			<i class="fa fa-angle-up" aria-hidden="true"></i>
		</button>
	</div>

	{% if page.previous or page.next %}
	<div class="pagination post">

		{% if page.previous %}
			<a href="{{ page.previous.url }}" class="previous">
					{% octicon chevron-left %} <span class="title"> {{ page.previous.title }} </span>
			</a>
		{% else %}
			<span class="previous">
			</span>
		{% endif %}

		{% if page.next %}
				<a href="{{ page.next.url }}" class="next">
				 <span class="title">	{{ page.next.title }} </span> {% octicon chevron-right %} 
				</a>
			</span>
		{% else %}
			<span class="next">
		{% endif %}
	{% endif %}

</article>

{% if page.comments %}

<div id="disqus_thread"></div>
<script>

/**
*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
/*
var disqus_config = function () {
this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};
*/
(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');
s.src = 'https://bennetthardwick.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endif %}
