---
layout: default
---

<script>
    var goTo = function(location) {
        var tag = document.getElementById(location);
        if (tag) {
            tag.scrollIntoView({ behavior: 'smooth', block: 'start', inline: 'nearest' });
        }
    }
</script>

<div class="home">

    <h1 class="tag-title">Tags</h1>

    {{ content }}

    <div class="tag-preview">
        {% for tag in site.tags %}
            {% capture _tag %}{{ tag | first }}{% endcapture %}
            <span onclick="goTo('{{ _tag | slugize }}')" class="tag">{{ _tag }}</span>
        {% endfor %}
    </div>



    <ul class="tag-list">
        {% for tag in site.tags %}
            {% capture _tag %}{{ tag | first }}{% endcapture %}
            <li id="{{ _tag | slugize }}">
                <h2>{{ _tag | capitalize }}</h2>

                <ul class="post-list">
                    {% for post in site.tags[_tag] %}
                        <li>
                            <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
                        </li>
                    {% endfor %}
                </ul>

            </li>
        {% endfor %}

        <br />

    </ul>

</div>