<div id="roam-test-container">
  <input id="roam-test-input" placeholder="Loading..." disabled />
  <button id="roam-test-button" disabled>
    Test
  </button>
  <div id="roam-test-output">
    Please type your Roam DB name in the search box above and press "test"
  </div>
</div>

{{ $commit := string now }}

{{ if isset . "GitInfo" }}
{{ $commit = (string .GitInfo.Hash) }}
{{ end }}

{{ $defines := dict "COMMIT" (printf `"%s"` $commit) "process.env.NODE_ENV" `"production"` }}
{{ $opts := dict "targetPath" "roam-lookup.js" "defines" $defines "minify" true "bundle" true }}
{{ $built := resources.Get "js/roam-lookup.jsx" | js.Build $opts | resources.Fingerprint "md5" }}
<script type="text/javascript" src="{{ $built.RelPermalink }}" defer></script>
